<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('../../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-white">
    <%- include('../../partials/nav.ejs') %>
    <%- include('../../partials/topNav.ejs') %>

    <div class="mt-6 md:mt-0 md:ml-64">
      <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20"> 
        <div class="py-6 lg:py-10 bg-white lg:border">
          <div class="mx-5 lg:px-6">
            <div>
              <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
            </div>
          </div>  
          
          <div class="mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <div class="pt-8">
              <h2 class="text-xl font-bold font-mono text-[#00A19A]">SECTION ONE - ENVIRONMENT</h2>

              <p class="pt-4 font-bold">ENVIRONMENT - 1C/ Travel</p>

              <p class="pt-4">
                Do you implement and monitor saving initiatives? What statistics, targets/KPIs and reductions have you made? What are
                the financial benefits and measurable impacts? Have you/your colleagues demonstrated commitment to initiatives? What
                ideas do you have to improve?
              </p>
            </div>

            <div class="pt-4">
              <h4 class="font-bold text-sm">Please use the list below to prompt your thinking.</h4>

              <ul class="list-disc pl-5 pt-3">
                <li class="pl-5">
                  Does your organisation have any travel policies in place?
                </li>

                <li class="pl-5 pt-2">
                  Do you minimise business travel - through use of technology such as Zoom, Teams, Google Meets etc.
                </li>

                <li class="pl-5 pt-2">
                  Low carbon driving incentives - hybrid and electric vehicles.
                </li>

                <li class="pl-5 pt-2">
                  Sustainable motoring infrastructure - consider installing charge points for electric vehicles, review government grant
                  availability?
                </li>

                <li class="pl-5 pt-2">
                  Have you bought a discounted bicycle through the Government’s Cycle to Work Scheme - government tax exemption initiative
                  introduced in the Finance Act 1999.
                </li>

                <li class="pl-5 pt-2">
                  Commuting plans - remote working and flexible hours, commuters’ clubs. Work from home days.
                </li>

                <li class="pl-5 pt-2">
                  Please show statistical data where available.         
                </li>
              </ul>
            </div>  

            <form class="pt-5">
              <textarea id="env_travel" class="p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]" placeholder="Text..." <%= isReadOnly ? 'readonly' : '' %>><%= application.env_travel || '' %>  ></textarea>
            </form>
          </div>

          <div class="text-right  text-sm mt-3 text-white pr-5 lg:pr-10">
            <% if (isReadOnly) { %>
              <a href="/environment_supply_chain_management?readOnly=true&applicationId=<%= application._id %>" 
                 class="inline-block text-center py-2 w-32 px-3 bg-[#00A19A] text-white rounded-md shadow-lg hover:bg-[#03857e] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 animate-bounce">
                Next
              </a>
            <% } else { %>
              <button id="submit_btn" onclick="updateEnvironmentTravel()"
                class="py-2 px-3 hover:bg-[#03857e] w-32 rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:animate-none animate-bounce duration-300">
                Save
            </button>
            <% } %>
        </div>  
      </div>  
    </div>  
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="/javascripts/environment/environment_travel.js"></script>
  </body>   
</html> 

